name: lint

on: push

jobs:
  golangci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: golangci/golangci-lint-action@v2.3.0
  gomod:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22.5'
        id: go
      - uses: actions/checkout@v4
      - run: |
          go mod tidy
          git diff --exit-code go.mod
          git diff --exit-code go.sum
